<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>AutoPrognosis by CHeT</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="/">AutoPrognosis <span>by CHeT</span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<!--<li><a href="elements.html">Elements</a></li>-->
				</ul>
			</nav>

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>an easy-to-use prognosis tool</p>
						<h2>AutoPrognosis</h2>
					</header>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="content">
							<header class="align-center">
								<p>leading disease research in the technological age</p>
								<h2>About Our Work</h2>
							</header>
							<p>Over the past generation, CHeT has re-shaped the conduct of clinical research and advanced knowledge to improve health for thousands, if not millions, of individuals. CHeT is leading the field in evaluating how to harness the tools and technologies of the early 21st century to extend the reach and impact of research and clinical care. Our team is made up of over 80 individuals who design and conduct multi-center clinical trials, especially for neurodegenerative and rare disorders. Over the last two decades, CHeT has been instrumental in conducting pivotal clinical trials in support of seven FDA approvals. These include first of their kind therapies for Parkinson disease, Huntington disease, and other rare disorders.</p>

							<p>Leading the way in creation, development, and implementation of novel technologies in care + research, over the past 10 years, CHeT director Dr. Ray Dorsey has been involved in ~15 studies involving novel technologies including wearable sensors, smartphone technology, and telemedicine (virtual house calls and virtual research visits). Applying new tools and approaches in clinical trials can transform the design, assessment, and evaluation of novel therapies for neurological disorders. Over the past decade, CHeT Director, Dr. Ray Dorsey, has led more than 15 studies that utilize disruptive technologies to expand the reach and impact of research and clinical care worldwide. However, the effect of new technologies on drug development to date has been limited. Increased use of new tools and approaches in future clinical trials can enhance the design, improve the assessment, and engage participants in the evaluation of novel therapies for neurologic disorders.</p>

							<p>Characterizing the long-term progression of Parkinson disease [PD] and the rate of that clinical progression are among the highest clinical research priorities of the National Institute of Neurologic Disorders and Stroke. Longitudinal data from clinical trials and observational studies can be used to build quantitative disease progression models to better understand and predict disease trajectories, both in the absence and presence of pharmacologic treatment(s). For chronic progressive diseases like PD, a more precise understanding of the changes in disease course as it relates to treatment effects and patient-level factors would help in the design and efficiency of clinical trials. </p>

							<p>CHeT collaborators and partners span the globe and include leading academic institutions, industry innovators in pharma, technology, not-for-profit foundations, advocacy groups, and the federal government. Collaborators include Johns Hopkins University, Pfizer, Teva, IBM, MC10, Apple, Michael J. Fox Foundation, West Health Institute, Patient-Centered Outcomes Research Institute, and the National Institutes of Health.</p>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="mailto:slerman@ur.rochester.edu?Subject=CHeT%20webpage%20mail" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						<li><a href="tel:585-290-2381" class="icon fa-phone"><span class="label">Phone</span></a></li>
						<li><a href="https://www.facebook.com/UniversityofRochesterMedicalCenter/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; AutoPrognosis. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{ url_for('static',filename='scripts/jquery.min.js') }}"></script>
			<script src="{{ url_for('static',filename='scripts/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static',filename='scripts/skel.min.js') }}"></script>
			<script src="{{ url_for('static',filename='scripts/util.js') }}"></script>
			<script src="{{ url_for('static',filename='scripts/main.js') }}"></script>

	</body>
</html>