<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>AutoPrognosis by Center for Human Experimental Therapeutics</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="/index">AutoPrognosis <span>by CHeT</span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/index">Home</a></li>
					<li><a href="/about">About</a></li>
					<!--<li><a href="elements.html">Elements</a></li>-->
				</ul>
			</nav>

		<!-- Banner -->
			<section class="banner full">
				<article>
					<img src="images/home-mast.jpg" alt="" />
					<div class="inner">
						<header>
							<p>Cutting edge machine learning technology for disease prognostication</p>
                            <h2><a href="/index">AutoPrognosis</a></h2>
						</header>
					</div>
				</article>
				<article>
					<img src="images/homeBanner_chet_1920x600.jpg" alt="" />
					<div class="inner">
						<header>
							<p>By the <a href="https://www.urmc.rochester.edu/health-technology.aspx">University of Rochester &middot; Center for Health & Technology</a></p>
                            <h2><a href="https://www.urmc.rochester.edu/health-technology.aspx">URMC CHeT</a></h2>
						</header>
					</div>
				</article>
				<!--<article>-->
					<!--<img src="images/2014-11-10_Rush_Rhees_Library_campus_life_15100.jpg"  alt="" />-->
					<!--<div class="inner">-->
						<!--<header>-->
							<!--<p><a href="">University of Rochester Medical Center</a></p>-->
                            <!--<h2></h2>-->
						<!--</header>-->
					<!--</div>-->
				<!--</article>-->
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">

						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/SCM%20Consulting.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>classifying as "slow"</p>
										<h2>Rate of Progression</h2>
									</header>
									<p> In this model, current patient info is used to estimate if a patient is likely to progress slowly or not with respect to some outcome measure, such as MDS-UPDRS Part III in the progression of Parkinson's disease.</p>
									<footer class="align-center">
										<a href="/launch" class="button alt">Launch</a>
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/SCM%20Consulting.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>predicting the future value of a selected outcome measure</p>
										<h2>Future Severity</h2>
									</header>
									<p> In this model, current patient info is used to make a prediction about the future value of a selected outcome measure, such as the future value of a patient's MDS-UPDRS Part III score in the progression of Parkinson's disease.</p>
									<footer class="align-center">
										<a href="/launch" class="button alt">Launch</a>
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/SCM%20Consulting.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>when a selected symptom might present itself</p>
										<h2>Time Until Symptom Onset</h2>
									</header>
									<p> In this model, current patient info is used to estimate how soon a selected symptom might present itself in a patient. Such a symptom could be, for example, the onset of tremors in Parkinson's disease. </p>
									<footer class="align-center">
										<a href="/launch" class="button alt">Launch</a>
									</footer>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Extensive clinical data and the latest in artifical intelligence and data science</p>
						<h2>Innovative Prognosis Technology & More To Come</h2>
					</header>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style2">
				<div class="inner">
					<header class="align-center">
						<p class="special">Presented by University of Rochester's Center for Health and technology</p>
						<h2>Our Collaborators</h2>
					</header>
					<div class="gallery">
						<div>
							<!--CHeT, MJFF, URMC, Hajim,-->
							<div class="image fit">
								<a href="https://www.urmc.rochester.edu/health-technology.aspx"><img src="images/homeBanner_chet_1920x600%202.jpg" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="https://www.rochester.edu"><img src="images/URblue.png" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="https://www.urmc.rochester.edu"><img src="images/dae4ebcc-9361-48d9-b836-07220cbd30b7-large16x9_urmc.JPG" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="https://www.michaeljfox.org"><img src="images/blog_placeholder_41.jpg" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="mailto:slerman@ur.rochester.edu?Subject=CHeT%20webpage%20mail" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						<li><a href="tel:585-290-2381" class="icon fa-phone"><span class="label">Phone</span></a></li>
						<li><a href="https://www.facebook.com/UniversityofRochesterMedicalCenter/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; AutoPrognosis. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>